<html>
<head>
  <title>Find Your Place in Chicago - Neighborhoods</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

  <!-- C3 stylesheet is below -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.css"
   integrity="sha512-GQSxWe9Cj4o4EduO7zO9HjULmD4olIjiQqZ7VJuwBxZlkWaUFGCxRkn39jYnD2xZBtEilm0m4WBG7YEmQuMs5Q=="
   crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style>
    body {
      font-family: sans;
      display: grid;
      min-height: 100vh;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto 1fr 1fr;
      grid-template-areas:
        "header header"
        "map content"
        "map chart1"
        "map chart2"
		    "main-nav list";
      column-gap: 1rem;
      row-gap: 1rem;
	  
    }
    h1 {
      grid-area: header;
    }
    #res_map {
      grid-area: map;
      height: 100%;
    }
    #densitylist {
      grid-area: list;
    }
    #cri_chart {
      grid-area: chart1;
    }
    #racechart {
      grid-area: chart2;
    }
    #mainNav {
      grid-area: main-nav;
      max-height: 50vh;
      overflow-y: scroll;
    }
    #content {
      grid-area: content;
    }
  </style>
</head>

<body>
  <h1>Chicago Neighborhood Report</h1>
  
  <nav id="mainNav">
    <select id="neighborhoodSelect">
      <option value="/">Select Neighborhood</option>
      {% for pri_neigh in neighborhood_list %}
        <option value="[[{{ pri_neigh.top }},{{ pri_neigh.left }}],[{{ pri_neigh.bottom }},{{ pri_neigh.right }}]]">{{ pri_neigh.neighborhood_name }}</option>
      {% endfor %}
    </select>

    <ul>
      <li><a href="/">All Neighborhoods in Chicago</a></li>
	  <ul>
		{% for pri_neigh in neighborhood_list %}
		  <li><a href="{{ pri_neigh.neighborhood_name }}.html">{{ pri_neigh.neighborhood_name }}</a></li>
		{% endfor %}
	  </ul>
    </ul>
  </nav>

  <section id="content">
    <header>
    <h1>
      {{ neighborhood.neighborhood_name }}
    </h1>
    <div class="subtitle">
      <p>Chicago neighborhood Report</p>
    </div>
  </header>

    <p>
      The information in the {{ neighborhood.neighborhood_name }} neighborhood ...

    </p>

    <div id="overviewMap"></div>
  </section>


  <div id="res_map"></div>

  <div id="densitylist"></div>

  <div id="cri_chart"></div>

  <div id="racechart"></div>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"
   integrity="sha512-FHsFVKQ/T1KWJDGSbrUhTJyS1ph3eRrxI228ND0EGaEp6v4a/vGwPWd3Dtd/+9cI7ccofZvl/wulICEurHN1pg=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  
  <!-- C3 JavaScript library is below -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.js"
   integrity="sha512-11Z4MD9csmC3vH8Vd0eIPJBQu3uEHEqeznWEt3sLBCdQx3zm9mJbBcJH8WTcyGY9EXDE81BNpjE2vLosPK8cFQ=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    /*

        MAP OF Amenities ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    */
    
    var baseLayer = new L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-background/{z}/{x}/{y}{r}.{ext}', {
    	attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    	subdomains: 'abcd',
    	minZoom: 0,
    	maxZoom: 20,
    	ext: 'png'
    });
    
    
    function getStyle(feature) {
      var scaledValue = feature.properties['risk'] / 5;
      var interpolator = d3.interpolate('#e5f5f9', '#2ca25f')
      var featureColor = interpolator(scaledValue);

      return {
        color: featureColor,
        weight: 1,
        fillColor: featureColor,
        fillOpacity: 0.6
      };
    }

    function getTooltip(layer) {
      var density = layer.feature.properties['number'];
      return `${density.toFixed(4)} crimes in the last month.`;
    }

    var neigh_mapdata = {{ crime_risk_mapdata }};
    var neighLayer = L.geoJSON(neigh_mapdata, {
        style: getStyle
    });
    neighLayer.bindTooltip(getTooltip)
    
    var res_mapdata = {{ res_mapdata }};
    var resLayer = L.geoJSON(res_mapdata, {
      style: (feature) => {
        return {
          fillColor: 'black',
          weight: 1,
          color: 'black',
          fillOpacity: 0.9
        }
      }
    }).bindPopup(function (layer) {
      return L.Util.template('{dba_name}', layer.feature.properties);
    });

    var gro_mapdata = {{ gro_mapdata }};
    var groLayer = L.geoJSON(gro_mapdata, {
      style: (feature) => {
        return {
          fillColor: 'black',
          weight: 1,
          color: 'black',
          fillOpacity: 0.9
        }
      }
    }).bindPopup(function (layer) {
        return L.Util.template('{store_name}', layer.feature.properties);
    });

	  var bus_mapdata = {{ bus_mapdata }};
    var busLayer = L.geoJSON(bus_mapdata, {
      style: (feature) => {
        return {
          fillColor: 'black',
          weight: 1,
          color: 'black',
          fillOpacity: 0.9
        }
      }
    }).bindPopup(function (layer) {
        return L.Util.template('{systemstop}', layer.feature.properties);
    }); 
  
    var centroid = {{ centroid }};
    var initialCenter = [{{ centroid['latitude'][0] }},{{ centroid['longitude'][0] }}];  // <-- Latitude, Longitude
    var initialZoom = 14;
    var res_map = L.map('res_map', {
      zoomSnap: 0,
      zoomDelta: 0.25,
	  layers: [baseLayer, neighLayer]
    }).setView(initialCenter, initialZoom);  
	
    var baseMaps = {
          "Stamen": baseLayer
      };
      
    var overlayMaps = {
          "Groceries": groLayer,
          "Restaurants": resLayer,
          "Bus Stops": busLayer,
          "Neighborhood": neighLayer
      };
    
    L.control.layers(baseMaps, overlayMaps).addTo(res_map); 
    
    /*

        CHART OF CRIME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    */
  
    var cri_chartdata = [['Count', ...{{ cri_chartdata['number'] }}]];

    var cat_chartdata = {{ cri_chartdata['primary_type'] }};
    var cri_chart = c3.generate({
        bindto: '#cri_chart',
        data: {
            columns: cri_chartdata,
            type: 'bar'
        },
        axis: {
            x: {
                type: 'category',
                categories: cat_chartdata}
        }
    });
    
    
    /*

        neighborhood zoom in ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    */
    
  
    var s = document.querySelect('#neighborhoodSelect');
    s.addEventListener('change', evt => {
      var boundingBox = JSON.parse(evt.target.value);
      res_map.fitBounds(boundingBox)
    });
    
    

  </script>
</body>
</html>


